.wrap{
    width: 1000px;
    margin: 200px 400px;
}
.row\=1{
    width:  100%;
    float: left;
}
.col1{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow: 0 0 70px 10px blue;
    display: inline-block;

}
.col2{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow: 50px 0 70px 5px blue;
}
.col3{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow:50px 50px 30px 0 blue;
}


.row\=2{
    width:50px;
    float: left;
}
.col4{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow: 0 0 50px 10px blue inset;
    margin-top: 50px;
}
.col5{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow: 30px 0 80px 0 blue inset;
    margin-top: 50px;
}
.col6{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-bottom: 60px;
    box-shadow:50px 50px 30px 0 blue inset;
    margin-top: 50px;
}

